  .links{
      position: absolute;
      top: 4%;
      left: 3%;
      &__item{
        margin: 0 20px 0 0;
        text-decoration: none;
        color:#fff;
        text-align:center;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size 1.2s;
    }
      &__item:nth-child(2):hover{
        color: #fc8b34;
      }
      &__item:nth-child(3):hover {
        color:#e74c3c;
      }
      
      &__item:nth-child(4):hover {
        color:#BF55EC;
      }
      
      &__item:nth-child(5):hover {
        color:#7fd03e;
      }
      &__item:hover, a:focus {
        background-size: 100% 2px;
        color: #fc4134;
    }
  }
