.main-section{
    &_style{
        min-height: 100vh;
        background-color: #232325;
    }
    &_phr{
        font-family: 'Gilroy Medium Italic';
        padding: 10vh 0 0 0;
        text-decoration: underline;
        font-size: 39px;
    }
}
.main-projects{
    &_style{
    max-width: 75vw;
    margin: 5vh auto;
    }
    &__tab_style{
        margin: 0 0 15vh 0;
    }
    &__tab_style:last-child{
        margin: 0;
    }
    &__tab_item-style{
        display: flex;
        margin: 15px 5px;
    }
    &__tab_text{
        margin: 15px;
    }
    &__title span{
        color: red;
    }
    &__tab_git{
        margin: 20px 0;
    }
    &__tab_box span{
        border: 1px solid rgba(255, 255, 255, 0.15);
        padding: 5px;
        border-radius: 3px;
    }
    &__tab_box span:first-child{
        margin: 0 5px 0 0;
    }
}
.main-projects__tab_style .img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40vw;
    height: 40vh;
    border-radius: 5px;
    border: 1px solid #fd1a15;
}
