* body {
  background-color: #232325;
}

@font-face {
  font-family: 'Gilroy Semibold Italic';
  src: url("../fonts/Gilroy-SemiBoldItalic.eot");
  src: url("../fonts/Gilroy-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBoldItalic.woff") format("woff"), url("../fonts/Gilroy-SemiBoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Medium Italic';
  src: url("../fonts/Gilroy-MediumItalic.eot");
  src: url("../fonts/Gilroy-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-MediumItalic.woff") format("woff"), url("../fonts/Gilroy-MediumItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 1200px) {
  .greet, .skills .skills_phr, .contact .contact_phr {
    font-size: 38px;
  }
  .skills .skills__item_flex, .contact {
    font-size: 27px;
  }
}

@media (max-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 23px;
  }
  .navbar-nav {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .skills .skills_phr, .contact .contact_phr {
    font-size: 34px;
  }
  .greet {
    font-size: 34px;
  }
  .header .toggle-btn_style {
    left: 77%;
  }
}

@media (max-width: 576px) {
  .skills .skills__item {
    max-width: 55vh;
  }
  .skills .skills__item_flex, .contact .link-git {
    font-size: 25px;
  }
  .greet {
    font-size: 30px;
  }
}

@media (max-width: 539px) {
  .skills .skills_phr, .contact .contact_phr {
    font-size: 34px;
  }
  .greet {
    font-size: 29px;
  }
  .header .toggle-btn_style {
    left: 68%;
  }
  .header .main-title .thin {
    font-weight: 600;
  }
}

@media (max-width: 470px) {
  .greet {
    font-size: 25px;
  }
}

@media (max-width: 430px) {
  .greet, .skills .skills_phr, .contact .contact_phr {
    font-size: 24px;
  }
  .skills .skills__item_flex, .contact {
    font-size: 23px;
  }
  .skills .skills__item {
    max-width: 45vh;
  }
}

@media (max-width: 390px) {
  .header .toggle-btn_style {
    left: 62%;
  }
  .greet {
    font-size: 22px;
  }
  .header .main-title .thin {
    font-weight: 600;
  }
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
}

.loaded_hiding .preloader {
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.banter-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 72px;
  height: 72px;
  margin-left: -36px;
  margin-top: -36px;
}

.banter-loader__box {
  float: left;
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.banter-loader__box:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.banter-loader__box:nth-child(3n) {
  margin-right: 0;
  margin-bottom: 6px;
}

.banter-loader__box:nth-child(1):before, .banter-loader__box:nth-child(4):before {
  margin-left: 26px;
}

.banter-loader__box:nth-child(3):before {
  margin-top: 52px;
}

.banter-loader__box:last-child {
  margin-bottom: 0;
}

@-webkit-keyframes moveBox-1 {
  9.09091% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  18.18182% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  27.27273% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  36.36364% {
    -webkit-transform: translate(26px, 0);
            transform: translate(26px, 0);
  }
  45.45455% {
    -webkit-transform: translate(26px, 26px);
            transform: translate(26px, 26px);
  }
  54.54545% {
    -webkit-transform: translate(26px, 26px);
            transform: translate(26px, 26px);
  }
  63.63636% {
    -webkit-transform: translate(26px, 26px);
            transform: translate(26px, 26px);
  }
  72.72727% {
    -webkit-transform: translate(26px, 0px);
            transform: translate(26px, 0px);
  }
  81.81818% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  90.90909% {
    -webkit-transform: translate(-26px, 0px);
            transform: translate(-26px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes moveBox-1 {
  9.09091% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  18.18182% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  27.27273% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  36.36364% {
    -webkit-transform: translate(26px, 0);
            transform: translate(26px, 0);
  }
  45.45455% {
    -webkit-transform: translate(26px, 26px);
            transform: translate(26px, 26px);
  }
  54.54545% {
    -webkit-transform: translate(26px, 26px);
            transform: translate(26px, 26px);
  }
  63.63636% {
    -webkit-transform: translate(26px, 26px);
            transform: translate(26px, 26px);
  }
  72.72727% {
    -webkit-transform: translate(26px, 0px);
            transform: translate(26px, 0px);
  }
  81.81818% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  90.90909% {
    -webkit-transform: translate(-26px, 0px);
            transform: translate(-26px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(1) {
  -webkit-animation: moveBox-1 4s infinite;
          animation: moveBox-1 4s infinite;
}

@-webkit-keyframes moveBox-2 {
  9.09091% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  18.18182% {
    -webkit-transform: translate(26px, 0);
            transform: translate(26px, 0);
  }
  27.27273% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  36.36364% {
    -webkit-transform: translate(26px, 0);
            transform: translate(26px, 0);
  }
  45.45455% {
    -webkit-transform: translate(26px, 26px);
            transform: translate(26px, 26px);
  }
  54.54545% {
    -webkit-transform: translate(26px, 26px);
            transform: translate(26px, 26px);
  }
  63.63636% {
    -webkit-transform: translate(26px, 26px);
            transform: translate(26px, 26px);
  }
  72.72727% {
    -webkit-transform: translate(26px, 26px);
            transform: translate(26px, 26px);
  }
  81.81818% {
    -webkit-transform: translate(0px, 26px);
            transform: translate(0px, 26px);
  }
  90.90909% {
    -webkit-transform: translate(0px, 26px);
            transform: translate(0px, 26px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes moveBox-2 {
  9.09091% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  18.18182% {
    -webkit-transform: translate(26px, 0);
            transform: translate(26px, 0);
  }
  27.27273% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  36.36364% {
    -webkit-transform: translate(26px, 0);
            transform: translate(26px, 0);
  }
  45.45455% {
    -webkit-transform: translate(26px, 26px);
            transform: translate(26px, 26px);
  }
  54.54545% {
    -webkit-transform: translate(26px, 26px);
            transform: translate(26px, 26px);
  }
  63.63636% {
    -webkit-transform: translate(26px, 26px);
            transform: translate(26px, 26px);
  }
  72.72727% {
    -webkit-transform: translate(26px, 26px);
            transform: translate(26px, 26px);
  }
  81.81818% {
    -webkit-transform: translate(0px, 26px);
            transform: translate(0px, 26px);
  }
  90.90909% {
    -webkit-transform: translate(0px, 26px);
            transform: translate(0px, 26px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(2) {
  -webkit-animation: moveBox-2 4s infinite;
          animation: moveBox-2 4s infinite;
}

@-webkit-keyframes moveBox-3 {
  9.09091% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  18.18182% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  27.27273% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  36.36364% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  45.45455% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  54.54545% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  63.63636% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  72.72727% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  81.81818% {
    -webkit-transform: translate(-26px, -26px);
            transform: translate(-26px, -26px);
  }
  90.90909% {
    -webkit-transform: translate(0px, -26px);
            transform: translate(0px, -26px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes moveBox-3 {
  9.09091% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  18.18182% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  27.27273% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  36.36364% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  45.45455% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  54.54545% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  63.63636% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  72.72727% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  81.81818% {
    -webkit-transform: translate(-26px, -26px);
            transform: translate(-26px, -26px);
  }
  90.90909% {
    -webkit-transform: translate(0px, -26px);
            transform: translate(0px, -26px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(3) {
  -webkit-animation: moveBox-3 4s infinite;
          animation: moveBox-3 4s infinite;
}

@-webkit-keyframes moveBox-4 {
  9.09091% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  18.18182% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  27.27273% {
    -webkit-transform: translate(-26px, -26px);
            transform: translate(-26px, -26px);
  }
  36.36364% {
    -webkit-transform: translate(0px, -26px);
            transform: translate(0px, -26px);
  }
  45.45455% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  54.54545% {
    -webkit-transform: translate(0px, -26px);
            transform: translate(0px, -26px);
  }
  63.63636% {
    -webkit-transform: translate(0px, -26px);
            transform: translate(0px, -26px);
  }
  72.72727% {
    -webkit-transform: translate(0px, -26px);
            transform: translate(0px, -26px);
  }
  81.81818% {
    -webkit-transform: translate(-26px, -26px);
            transform: translate(-26px, -26px);
  }
  90.90909% {
    -webkit-transform: translate(-26px, 0px);
            transform: translate(-26px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes moveBox-4 {
  9.09091% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  18.18182% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  27.27273% {
    -webkit-transform: translate(-26px, -26px);
            transform: translate(-26px, -26px);
  }
  36.36364% {
    -webkit-transform: translate(0px, -26px);
            transform: translate(0px, -26px);
  }
  45.45455% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  54.54545% {
    -webkit-transform: translate(0px, -26px);
            transform: translate(0px, -26px);
  }
  63.63636% {
    -webkit-transform: translate(0px, -26px);
            transform: translate(0px, -26px);
  }
  72.72727% {
    -webkit-transform: translate(0px, -26px);
            transform: translate(0px, -26px);
  }
  81.81818% {
    -webkit-transform: translate(-26px, -26px);
            transform: translate(-26px, -26px);
  }
  90.90909% {
    -webkit-transform: translate(-26px, 0px);
            transform: translate(-26px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(4) {
  -webkit-animation: moveBox-4 4s infinite;
          animation: moveBox-4 4s infinite;
}

@-webkit-keyframes moveBox-5 {
  9.09091% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  18.18182% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  27.27273% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  36.36364% {
    -webkit-transform: translate(26px, 0);
            transform: translate(26px, 0);
  }
  45.45455% {
    -webkit-transform: translate(26px, 0);
            transform: translate(26px, 0);
  }
  54.54545% {
    -webkit-transform: translate(26px, 0);
            transform: translate(26px, 0);
  }
  63.63636% {
    -webkit-transform: translate(26px, 0);
            transform: translate(26px, 0);
  }
  72.72727% {
    -webkit-transform: translate(26px, 0);
            transform: translate(26px, 0);
  }
  81.81818% {
    -webkit-transform: translate(26px, -26px);
            transform: translate(26px, -26px);
  }
  90.90909% {
    -webkit-transform: translate(0px, -26px);
            transform: translate(0px, -26px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes moveBox-5 {
  9.09091% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  18.18182% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  27.27273% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  36.36364% {
    -webkit-transform: translate(26px, 0);
            transform: translate(26px, 0);
  }
  45.45455% {
    -webkit-transform: translate(26px, 0);
            transform: translate(26px, 0);
  }
  54.54545% {
    -webkit-transform: translate(26px, 0);
            transform: translate(26px, 0);
  }
  63.63636% {
    -webkit-transform: translate(26px, 0);
            transform: translate(26px, 0);
  }
  72.72727% {
    -webkit-transform: translate(26px, 0);
            transform: translate(26px, 0);
  }
  81.81818% {
    -webkit-transform: translate(26px, -26px);
            transform: translate(26px, -26px);
  }
  90.90909% {
    -webkit-transform: translate(0px, -26px);
            transform: translate(0px, -26px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(5) {
  -webkit-animation: moveBox-5 4s infinite;
          animation: moveBox-5 4s infinite;
}

@-webkit-keyframes moveBox-6 {
  9.09091% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  18.18182% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  27.27273% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  36.36364% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  45.45455% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  54.54545% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  63.63636% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  72.72727% {
    -webkit-transform: translate(0px, 26px);
            transform: translate(0px, 26px);
  }
  81.81818% {
    -webkit-transform: translate(-26px, 26px);
            transform: translate(-26px, 26px);
  }
  90.90909% {
    -webkit-transform: translate(-26px, 0px);
            transform: translate(-26px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes moveBox-6 {
  9.09091% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  18.18182% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  27.27273% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  36.36364% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  45.45455% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  54.54545% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  63.63636% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  72.72727% {
    -webkit-transform: translate(0px, 26px);
            transform: translate(0px, 26px);
  }
  81.81818% {
    -webkit-transform: translate(-26px, 26px);
            transform: translate(-26px, 26px);
  }
  90.90909% {
    -webkit-transform: translate(-26px, 0px);
            transform: translate(-26px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(6) {
  -webkit-animation: moveBox-6 4s infinite;
          animation: moveBox-6 4s infinite;
}

@-webkit-keyframes moveBox-7 {
  9.09091% {
    -webkit-transform: translate(26px, 0);
            transform: translate(26px, 0);
  }
  18.18182% {
    -webkit-transform: translate(26px, 0);
            transform: translate(26px, 0);
  }
  27.27273% {
    -webkit-transform: translate(26px, 0);
            transform: translate(26px, 0);
  }
  36.36364% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  45.45455% {
    -webkit-transform: translate(0px, -26px);
            transform: translate(0px, -26px);
  }
  54.54545% {
    -webkit-transform: translate(26px, -26px);
            transform: translate(26px, -26px);
  }
  63.63636% {
    -webkit-transform: translate(0px, -26px);
            transform: translate(0px, -26px);
  }
  72.72727% {
    -webkit-transform: translate(0px, -26px);
            transform: translate(0px, -26px);
  }
  81.81818% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  90.90909% {
    -webkit-transform: translate(26px, 0px);
            transform: translate(26px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes moveBox-7 {
  9.09091% {
    -webkit-transform: translate(26px, 0);
            transform: translate(26px, 0);
  }
  18.18182% {
    -webkit-transform: translate(26px, 0);
            transform: translate(26px, 0);
  }
  27.27273% {
    -webkit-transform: translate(26px, 0);
            transform: translate(26px, 0);
  }
  36.36364% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  45.45455% {
    -webkit-transform: translate(0px, -26px);
            transform: translate(0px, -26px);
  }
  54.54545% {
    -webkit-transform: translate(26px, -26px);
            transform: translate(26px, -26px);
  }
  63.63636% {
    -webkit-transform: translate(0px, -26px);
            transform: translate(0px, -26px);
  }
  72.72727% {
    -webkit-transform: translate(0px, -26px);
            transform: translate(0px, -26px);
  }
  81.81818% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  90.90909% {
    -webkit-transform: translate(26px, 0px);
            transform: translate(26px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(7) {
  -webkit-animation: moveBox-7 4s infinite;
          animation: moveBox-7 4s infinite;
}

@-webkit-keyframes moveBox-8 {
  9.09091% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  18.18182% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  27.27273% {
    -webkit-transform: translate(-26px, -26px);
            transform: translate(-26px, -26px);
  }
  36.36364% {
    -webkit-transform: translate(0px, -26px);
            transform: translate(0px, -26px);
  }
  45.45455% {
    -webkit-transform: translate(0px, -26px);
            transform: translate(0px, -26px);
  }
  54.54545% {
    -webkit-transform: translate(0px, -26px);
            transform: translate(0px, -26px);
  }
  63.63636% {
    -webkit-transform: translate(0px, -26px);
            transform: translate(0px, -26px);
  }
  72.72727% {
    -webkit-transform: translate(0px, -26px);
            transform: translate(0px, -26px);
  }
  81.81818% {
    -webkit-transform: translate(26px, -26px);
            transform: translate(26px, -26px);
  }
  90.90909% {
    -webkit-transform: translate(26px, 0px);
            transform: translate(26px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes moveBox-8 {
  9.09091% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  18.18182% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  27.27273% {
    -webkit-transform: translate(-26px, -26px);
            transform: translate(-26px, -26px);
  }
  36.36364% {
    -webkit-transform: translate(0px, -26px);
            transform: translate(0px, -26px);
  }
  45.45455% {
    -webkit-transform: translate(0px, -26px);
            transform: translate(0px, -26px);
  }
  54.54545% {
    -webkit-transform: translate(0px, -26px);
            transform: translate(0px, -26px);
  }
  63.63636% {
    -webkit-transform: translate(0px, -26px);
            transform: translate(0px, -26px);
  }
  72.72727% {
    -webkit-transform: translate(0px, -26px);
            transform: translate(0px, -26px);
  }
  81.81818% {
    -webkit-transform: translate(26px, -26px);
            transform: translate(26px, -26px);
  }
  90.90909% {
    -webkit-transform: translate(26px, 0px);
            transform: translate(26px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(8) {
  -webkit-animation: moveBox-8 4s infinite;
          animation: moveBox-8 4s infinite;
}

@-webkit-keyframes moveBox-9 {
  9.09091% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  18.18182% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  27.27273% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  36.36364% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  45.45455% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  54.54545% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  63.63636% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  72.72727% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  81.81818% {
    -webkit-transform: translate(-52px, 0);
            transform: translate(-52px, 0);
  }
  90.90909% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  100% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
}

@keyframes moveBox-9 {
  9.09091% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  18.18182% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  27.27273% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  36.36364% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  45.45455% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  54.54545% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  63.63636% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  72.72727% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  81.81818% {
    -webkit-transform: translate(-52px, 0);
            transform: translate(-52px, 0);
  }
  90.90909% {
    -webkit-transform: translate(-26px, 0);
            transform: translate(-26px, 0);
  }
  100% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
}

.banter-loader__box:nth-child(9) {
  -webkit-animation: moveBox-9 4s infinite;
          animation: moveBox-9 4s infinite;
}

.header__pos {
  max-width: 100vw;
  max-height: 100vh;
}

.header .greeting {
  font-size: 33px;
  line-height: 55px;
}

.header .icon {
  width: 41px;
}

.large-header {
  position: relative;
  width: 100%;
  background: #111;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #F9F1E9;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.main-title .thin {
  font-weight: 200;
}

.links {
  position: absolute;
  top: 4%;
  left: 3%;
}

.links__item {
  margin: 0 20px 0 0;
  text-decoration: none;
  color: #fff;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size 1.2s;
  transition: background-size 1.2s;
}

.links__item:nth-child(2):hover {
  color: #fc8b34;
}

.links__item:nth-child(3):hover {
  color: #e74c3c;
}

.links__item:nth-child(4):hover {
  color: #BF55EC;
}

.links__item:nth-child(5):hover {
  color: #7fd03e;
}

.links__item:hover, .links a:focus {
  background-size: 100% 2px;
}

.main-section_style {
  min-height: 100vh;
  background-color: #232325;
}

.main-section_phr {
  font-family: 'Gilroy Medium Italic';
  padding: 10vh 0 0 0;
  text-decoration: underline;
  font-size: 39px;
}

.main-projects_style {
  max-width: 75vw;
  margin: 5vh auto;
}

.main-projects__tab_style {
  margin: 0 0 15vh 0;
}

.main-projects__tab_style:last-child {
  margin: 0;
}

.main-projects__tab_item-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 5px;
}

.main-projects__tab_text {
  margin: 15px;
}

.main-projects__title span {
  color: red;
}

.main-projects__tab_git {
  margin: 20px 0;
}

.main-projects__tab_box span {
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 5px;
  border-radius: 3px;
}

.main-projects__tab_box span:first-child {
  margin: 0 5px 0 0;
}

.main-projects__tab_style .img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40vw;
  height: 40vh;
  border-radius: 5px;
  border: 1px solid #fd1a15;
}

.toggle-btn_style {
  position: absolute;
  top: 4%;
  left: 82%;
}

.toggle-btn_btn {
  position: relative;
  padding: .5rem 1rem;
}

.checkbox {
  display: none;
}

.checkbox + label {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 50px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #fd1a15), color-stop(45%, #fc8b34), color-stop(55%, #7fd03e), to(#007177)) 0 0;
  background: linear-gradient(to right, #fd1a15 0, #fc8b34 45%, #7fd03e 55%, #007177 100%) 0 0;
  background-size: 250px 100%;
  border-radius: 70px;
  padding: 7px;
  cursor: pointer;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2) inset;
          box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2) inset;
}

.checkbox + label:before {
  content: 'RU';
  width: 37px;
  height: 37px;
  position: absolute;
  left: 7px;
  top: 7px;
  border-radius: 100%;
  background: #fff;
  text-align: center;
  line-height: 36px;
  font-family: 'Cabin', sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: #fd1a15;
  letter-spacing: 3px;
  text-transform: uppercase;
  -webkit-transition: left 500ms ease, color 500ms ease, -webkit-transform 150ms ease;
  transition: left 500ms ease, color 500ms ease, -webkit-transform 150ms ease;
  transition: left 500ms ease, color 500ms ease, transform 150ms ease;
  transition: left 500ms ease, color 500ms ease, transform 150ms ease, -webkit-transform 150ms ease;
}

.checkbox + label:active:before {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.checkbox:checked + label {
  background-position-x: -150px;
}

.checkbox:checked + label:before {
  content: 'EN';
  color: #007177;
  left: 56px;
}

.skills_style {
  min-height: 98vh;
  background-color: #232325;
  padding: 25vh 0 0 0;
}

.skills_phr {
  font-family: 'Gilroy Medium Italic';
  font-size: 32px;
  text-align: center;
  text-decoration: underline;
}

.skills__list {
  font-size: 20px;
  text-align: center;
  margin: 5vh 0 0 0;
}

.skills__item {
  max-width: 75vh;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  line-height: 50px;
  font-family: 'Gilroy Medium Italic';
  font-weight: bold;
}

.skills__item_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact_style {
  min-height: 70vh;
  background-color: #232325;
}

.contact_phr {
  font-family: 'Gilroy Medium Italic';
  font-size: 32px;
  text-align: center;
  text-decoration: underline;
}

.contact .link {
  max-width: 80vh;
  margin: 5vh auto;
  font-size: 25px;
  font-family: 'Gilroy Medium Italic';
  text-align: center;
  padding: 10px 10px;
  line-height: 55px;
  font-weight: bold;
}

.contact .link__item {
  text-decoration: none;
}

.contact .icon, .contact .fas {
  margin: 0 10px;
}

.pageup {
  display: block;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
}
/*# sourceMappingURL=style.css.map */